In [6]:
import re
import os
import sys
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from dlogprocess import Dlog


class DlyLineDlog(Dlog):
    dly_range1 = []
    dly_range2 = []
    dly_range3 = []

    def __init__(self, dlogpath):
        super(DlyLineDlog, self).__init__(dlogpath)
        self.dlog_data = self.screen_pass(write_to_file=0)

    def get_dly_val(self):
        for x in range(2000, 4100, 100):
            dly_val = self.filter_keyword("Delay= %d(us). " % x, 2, 10, offset=4)
            dly_val = [float(i) for i in dly_val]
            self.dly_range1.append(dly_val)
        for x in range(4000, 10200, 200):
            dly_val = self.filter_keyword("Delay = %d(us). " % x, 2, 10, offset=4)
            dly_val = [float(i) for i in dly_val]
            self.dly_range2.append(dly_val)
        for x in range(10200, 20200, 200):
            dly_val = self.filter_keyword("Delay = %d(us). " % x, 2, 10, offset=4)
            dly_val = [float(i) for i in dly_val]
            self.dly_range3.append(dly_val)

    def process_val(self):
        df = pd.DataFrame(self.dly_range1, [x for x in range(2000, 4100, 100)])
        print(df.head())
        return df

In [7]:
dly = DlyLineDlog(".\\data\\Delay_line\\rising_edge.txt")

In [8]:
dly.get_dly_val()

In [9]:
print(dly.dly_range1)

[[1.95, 1.95, 1.94, 1.95, 1.95, 1.96, 1.95, 1.95, 1.95, 1.95], [2.0685, 2.0475, 2.0475, 2.037, 2.037, 2.0475, 2.0685, 2.0475, 2.058, 2.0475], [2.156, 2.156, 2.156, 2.156, 2.134, 2.145, 2.167, 2.156, 2.156, 2.156], [2.254, 2.254, 2.254, 2.2425, 2.2425, 2.2425, 2.254, 2.254, 2.2425, 2.2425], [2.364, 2.34, 2.352, 2.352, 2.34, 2.34, 2.364, 2.352, 2.352, 2.352], [2.475, 2.4625, 2.475, 2.475, 2.4375, 2.4375, 2.4625, 2.475, 2.4625, 2.45], [2.561, 2.574, 2.574, 2.561, 2.548, 2.548, 2.561, 2.574, 2.561, 2.561], [2.6595, 2.6595, 2.673, 2.6595, 2.673, 2.6595, 2.673, 2.673, 2.6595, 2.6595], [2.758, 2.758, 2.772, 2.772, 2.758, 2.772, 2.772, 2.772, 2.772, 2.758], [2.8565, 2.8565, 2.8565, 2.871, 2.8565, 2.8855, 2.871, 2.871, 2.871, 2.8565], [2.985, 2.97, 2.955, 2.985, 2.97, 2.955, 2.985, 2.985, 2.97, 2.97], [3.0845, 3.0535, 3.0535, 3.069, 3.069, 3.0845, 3.069, 3.0845, 3.069, 3.069], [3.2, 3.184, 3.184, 3.152, 3.168, 3.184, 3.184, 3.184, 3.184, 3.168], [3.3, 3.2835, 3.3, 3.2835, 3.2835, 3.267, 3.2835, 3.2835, 3.2835, 3.2835], [3.4, 3.4, 3.383, 3.383, 3.383, 3.383, 3.383, 3.383, 3.383, 3.366], [3.4825, 3.5, 3.5, 3.5, 3.4825, 3.4825, 3.4825, 3.4825, 3.4825, 3.4825], [3.582, 3.582, 3.6, 3.6, 3.582, 3.582, 3.6, 3.582, 3.582, 3.582], [3.7, 3.7, 3.6815, 3.6815, 3.6815, 3.7, 3.7, 3.6815, 3.7, 3.6815], [3.781, 3.8, 3.781, 3.781, 3.8, 3.781, 3.8, 3.8, 3.8, 3.8], [3.9, 3.8805, 3.9, 3.8805, 3.8805, 3.8805, 3.8805, 3.9, 3.8805, 3.8805], [3.98, 3.98, 3.98, 4.0, 3.98, 3.98, 4.0, 3.98, 3.98, 3.98]]

In [11]:
df = dly.process_val()

           0       1       2       3       4       5       6       7       8  \
2000  1.9500  1.9500  1.9400  1.9500  1.9500  1.9600  1.9500  1.9500  1.9500
2100  2.0685  2.0475  2.0475  2.0370  2.0370  2.0475  2.0685  2.0475  2.0580
2200  2.1560  2.1560  2.1560  2.1560  2.1340  2.1450  2.1670  2.1560  2.1560
2300  2.2540  2.2540  2.2540  2.2425  2.2425  2.2425  2.2540  2.2540  2.2425
2400  2.3640  2.3400  2.3520  2.3520  2.3400  2.3400  2.3640  2.3520  2.3520

           9
2000  1.9500
2100  2.0475
2200  2.1560
2300  2.2425
2400  2.3520

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9
2000,1.9500,1.9500,1.9400,1.9500,1.9500,1.9600,1.9500,1.9500,1.9500,1.9500
2100,2.0685,2.0475,2.0475,2.0370,2.0370,2.0475,2.0685,2.0475,2.0580,2.0475
2200,2.1560,2.1560,2.1560,2.1560,2.1340,2.1450,2.1670,2.1560,2.1560,2.1560
2300,2.2540,2.2540,2.2540,2.2425,2.2425,2.2425,2.2540,2.2540,2.2425,2.2425
2400,2.3640,2.3400,2.3520,2.3520,2.3400,2.3400,2.3640,2.3520,2.3520,2.3520

In [13]:
df.T

,2000,2100,2200,2300,2400,2500,2600,2700,2800,2900,...,3100,3200,3300,3400,3500,3600,3700,3800,3900,4000
0,1.95,2.0685,2.156,2.2540,2.364,2.4750,2.561,2.6595,2.758,2.8565,...,3.0845,3.200,3.3000,3.400,3.4825,3.582,3.7000,3.781,3.9000,3.98
1,1.95,2.0475,2.156,2.2540,2.340,2.4625,2.574,2.6595,2.758,2.8565,...,3.0535,3.184,3.2835,3.400,3.5000,3.582,3.7000,3.800,3.8805,3.98
2,1.94,2.0475,2.156,2.2540,2.352,2.4750,2.574,2.6730,2.772,2.8565,...,3.0535,3.184,3.3000,3.383,3.5000,3.600,3.6815,3.781,3.9000,3.98
3,1.95,2.0370,2.156,2.2425,2.352,2.4750,2.561,2.6595,2.772,2.8710,...,3.0690,3.152,3.2835,3.383,3.5000,3.600,3.6815,3.781,3.8805,4.00
4,1.95,2.0370,2.134,2.2425,2.340,2.4375,2.548,2.6730,2.758,2.8565,...,3.0690,3.168,3.2835,3.383,3.4825,3.582,3.6815,3.800,3.8805,3.98
5,1.96,2.0475,2.145,2.2425,2.340,2.4375,2.548,2.6595,2.772,2.8855,...,3.0845,3.184,3.2670,3.383,3.4825,3.582,3.7000,3.781,3.8805,3.98
6,1.95,2.0685,2.167,2.2540,2.364,2.4625,2.561,2.6730,2.772,2.8710,...,3.0690,3.184,3.2835,3.383,3.4825,3.600,3.7000,3.800,3.8805,4.00
7,1.95,2.0475,2.156,2.2540,2.352,2.4750,2.574,2.6730,2.772,2.8710,...,3.0845,3.184,3.2835,3.383,3.4825,3.582,3.6815,3.800,3.9000,3.98
8,1.95,2.0580,2.156,2.2425,2.352,2.4625,2.561,2.6595,2.772,2.8710,...,3.0690,3.184,3.2835,3.383,3.4825,3.582,3.7000,3.800,3.8805,3.98
9,1.95,2.0475,2.156,2.2425,2.352,2.4500,2.561,2.6595,2.758,2.8565,...,3.0690,3.168,3.2835,3.366,3.4825,3.582,3.6815,3.800,3.8805,3.98